{% extends 'base.html.twig' %}

{% block title %}Kapcsolat{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center mb-3">
        <h1>Kapcsolat</h1>
    </div>

    {{ include('contact/_form.html.twig') }}

{% endblock %}
